/* body{
display:flex ;


background: #000;
color: #ffffff;

}


:root {
    --red: #ed1c24;
    --white: #ffffff; 
  }




  
 .d-flex{display: flex;}
.space-between{justify-content: space-between;}
 

 














